{% extends "base.html" %}

{% block page_title %}
    All Entries
{% endblock %}

{% block content %}

    <div class="form_box">
    {% if message %}
	<h2>You just entered:</h2>
	<div class="tweetbox">{{ message }}</div>
	<p>Messages are posted to <a href="http://twitter.com/twitter_username" target="_blank">Twitter</a> after being reviewed.</p>
    {% else %}
	<h2>Submit a message:</h2>
	<form action="/" method="POST">
        <div class="fieldWrapper">
	    {{ form.message }}<br />
	</div>
	<div class="left"><ul><li><input type="submit" value="Submit" /></li></ul></div>
        <div class="right">{{ form.message.errors }}</div>
	<div style="clear: both;"></div>
	</form>
    {% endif %}
    </div>

    {% if tweet_list %}
        <div class="list_box">
        {% for tweet in tweet_list %}
            <div class="tweetbox">
                <div><a href="/id/{{ tweet.id }}">message # {{ tweet.id }}:</a></div>
                <div>"{{ tweet.message }}"</div>
                <div>
                    <a href="http://twitter.com/twitter_username/statuses/{{ tweet.twitter_id }}" target="new">{{ tweet.post_date }}</a>
		</div>
            </div>
        {% endfor %}
        </div>
        <div class="pagination" align="center">
            {% for page in page_range %}
                <a href="/?page={{ page }}">{{ page }}</a>
            {% endfor %}
        </div>
    {% else %}
        <div><!-- No posts yet. --></div>
    {% endif %}

{% endblock %}

