{% extends "base.html" %}

{% block page_title %}
    Single Entry
{% endblock %}

{% block content %}

    {% if tweet %}
        <div class="list_box">
            <div class="tweetbox">
                <div><a href="/id/{{ tweet.id }}">message # {{ tweet.id }}:</a></div>
                <div>"{{ tweet.message }}"</div>
                <div>
                    <a href="http://twitter.com/lettersfromexes/statuses/{{ tweet.twitter_id }}" target="new">{{ tweet.post_date }}</a>
                </div>
            </div>
        </div>
    {% else %}
        <div>No entries available.</div>
    {% endif %}

{% endblock %}

